@import "@/assets/scss/_variable.scss";

.ktv-textarea {
    .q-field__control {
        border-radius: 8px;
        &::before {
            border-color: #BCBCBC;
        }
        &::after {
            border: none !important;
            background: none;
        }
        .q-field__native {
            color: $black-100;
            &::placeholder {
                color: $black-40;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.5px;
            }
        }
    }
    &.q-field--focused {
        .q-field__control::before {
            border: 2px solid $accent-info-100 !important;
            background-color: $black-00;
            border-radius: 8px;
        }
    }
    &:hover {
        .q-field__control::before {
            border: 1px solid #9F9FA0;
        }
    }
    &.error {
        &.q-field--focused {
            .q-field__control::before {
                border: none !important;
            }
        }
        &:hover {
            border: none !important;
            .q-field__control::before {
                border: none !important;
            }
        }
        .q-field__control {
            border-radius: 8px;
            background-color: $black-00;
            border: 2px solid $accent-danger-100 !important;
            &::before {
                border: none;
                background-color: $black-00 !important;
            }
        }
        ~.icon-error {
            position: absolute;
            top: 35px;
            right: 10px;
            width: 16px;
            height: 16px;
            color: red;
        }
        ~.footer {
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
            span:first-child {
                color: $accent-danger-100;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.4px;
            }
        }
    }
}