// Background Position
.ktv-bg-position-bottom {
  background-position: bottom;
}
.ktv-bg-position-center {
  background-position: center;
}
.ktv-bg-position-left {
  background-position: left;
}
.ktv-bg-position-left-bottom {
  background-position: left bottom;
}
.ktv-bg-position-left-top {
  background-position: left top;
}
.ktv-bg-position-right {
  background-position: right;
}
.ktv-bg-position-right-bottom {
  background-position: right bottom;
}
.ktv-bg-position-right-top {
  background-position: right top;
}
.ktv-bg-position-top {
  background-position: top;
}

// Background Repeat
.ktv-bg-repeat {
  background-repeat: repeat;
}
.ktv-bg-no-repeat {
  background-repeat: no-repeat;
}
.ktv-bg-repeat-x {
  background-repeat: repeat-x;
}
.ktv-bg-repeat-y {
  background-repeat: repeat-y;
}
.ktv-bg-repeat-round {
  background-repeat: round;
}
.ktv-bg-repeat-space {
  background-repeat: space;
}

// Background Size
.ktv-bg-size-auto {
  background-size: auto;
}
.ktv-bg-size-cover {
  background-size: cover;
}
.ktv-bg-size-contain {
  background-size: contain;
}
