// Border Radius
.ktv-radius-2 {
  border-radius: 2px;
}
.ktv-radius-4 {
  border-radius: 4px;
}
.ktv-radius-6 {
  border-radius: 6px;
}
.ktv-radius-8 {
  border-radius: 8px;
}
.ktv-radius-10 {
  border-radius: 10px;
}
.ktv-radius-12 {
  border-radius: 12px;
}
.ktv-radius-14 {
  border-radius: 14px;
}
.ktv-radius-16 {
  border-radius: 16px;
}
.ktv-radius-18 {
  border-radius: 18px;
}
.ktv-radius-20 {
  border-radius: 20px;
}
.ktv-radius-22 {
  border-radius: 22px;
}
.ktv-radius-24 {
  border-radius: 24px;
}
.ktv-radius-26 {
  border-radius: 26px;
}
.ktv-radius-28 {
  border-radius: 28px;
}
.ktv-radius-30 {
  border-radius: 30px;
}
.ktv-radius-32 {
  border-radius: 32px;
}
.ktv-radius-34 {
  border-radius: 34px;
}
.ktv-radius-36 {
  border-radius: 36px;
}
.ktv-radius-38 {
  border-radius: 38px;
}
.ktv-radius-40 {
  border-radius: 40px;
}
.ktv-radius-42 {
  border-radius: 42px;
}
.ktv-radius-44 {
  border-radius: 44px;
}
.ktv-radius-46 {
  border-radius: 46px;
}
.ktv-radius-48 {
  border-radius: 48px;
}
.ktv-radius-50 {
  border-radius: 50px;
}

// Border Style
.ktv-border-solid {
  border-style: solid;
}
.ktv-border-dashed {
  border-style: dashed;
}
.ktv-border-dotted {
  border-style: dotted;
}
.ktv-border-double {
  border-style: double;
}
.ktv-border-hidden {
  border-style: hidden;
}
.ktv-border-none {
  border: none;
}

// Outline Style
.ktv-outline-solid {
  outline-style: solid;
}
.ktv-outline-dashed {
  outline-style: dashed;
}
.ktv-outline-dotted {
  outline-style: dotted;
}
.ktv-outline-double {
  outline-style: double;
}
.ktv-outline-none {
  outline: none;
}
