@import "_variable.scss";

.white {
  color: $white;
}

.green-120 {
  color: $green-120;
}
.green-110 {
  color: $green-110;
}
.green-100 {
  color: $green-100;
}
.green-90 {
  color: $green-90;
}
.green-80 {
  color: $green-80;
}
.green-70 {
  color: $green-70;
}
.green-60 {
  color: $green-60;
}
.green-50 {
  color: $green-50;
}
.green-40 {
  color: $green-40;
}

.red-120 {
  color: $red-120;
}
.red-110 {
  color: $red-110;
}
.red-100 {
  color: $red-100;
}
.red-90 {
  color: $red-90;
}
.red-80 {
  color: $red-80;
}
.red-70 {
  color: $red-70;
}
.red-60 {
  color: $red-60;
}
.red-50 {
  color: $red-50;
}
.red-40 {
  color: $red-40;
}

.black-100 {
  color: $black-100;
}
.black-80 {
  color: $black-80;
}
.black-60 {
  color: $black-60;
}
.black-50 {
  color: $black-50;
}
.black-40 {
  color: $black-40;
}
.black-30 {
  color: $black-30;
}
.black-20 {
  color: $black-20;
}
.bg-blue {
  color: $blue-100;
}
.blue {
  color: $blue-100;
}
.background-white {
  background: $white;
}
.background-green-100 {
  background: $green-100;
}
.background-red {
  background: $red-100;
}
.background-black-100 {
  background: $black-100;
}
.background-black-80 {
  background: $black-80;
}
.background-black-60 {
  background: $black-60;
}
.background-black-50 {
  background: $black-50;
}
.background-black-40 {
  background: $black-40;
}
.background-black-30 {
  background: $black-30;
}
.background-black-20 {
  background: $black-20;
}
.background-blue {
  background: $blue-100;
}
.background-transparent {
  background: transparent;
}