// Cursor
.ktv-cursor-auto {
  cursor: auto;
}

.ktv-cursor-default {
  cursor: default;
}

.ktv-cursor-pointer {
  cursor: pointer;
}

.ktv-cursor-wait {
  cursor: wait;
}

.ktv-cursor-text {
  cursor: text;
}

.ktv-cursor-move {
  cursor: move;
}

.ktv-cursor-help {
  cursor: help;
}

.ktv-cursor-not-allowed {
  cursor: not-allowed;
}

.ktv-cursor-none {
  cursor: none;
}
.ktv-cursor-context-menu {
  cursor: context-menu;
}

.ktv-cursor-progress {
  cursor: progress;
}

.ktv-cursor-cell {
  cursor: cell;
}

.ktv-cursor-crosshair {
  cursor: crosshair;
}

.ktv-cursor-vertical-text {
  cursor: vertical-text;
}

.ktv-cursor-alias {
  cursor: alias;
}

.ktv-cursor-copy {
  cursor: copy;
}

.ktv-cursor-no-drop {
  cursor: no-drop;
}

.ktv-cursor-grab {
  cursor: grab;
}

.ktv-cursor-grabbing {
  cursor: grabbing;
}

.ktv-cursor-all-scroll {
  cursor: all-scroll;
}

.ktv-cursor-col-resize {
  cursor: col-resize;
}

.ktv-cursor-row-resize {
  cursor: row-resize;
}

.ktv-cursor-n-resize {
  cursor: n-resize;
}

.ktv-cursor-e-resize {
  cursor: e-resize;
}

.ktv-cursor-s-resize {
  cursor: s-resize;
}

.ktv-cursor-w-resize {
  cursor: w-resize;
}

.ktv-cursor-ne-resize {
  cursor: ne-resize;
}

.ktv-cursor-nw-resize {
  cursor: nw-resize;
}

.ktv-cursor-se-resize {
  cursor: se-resize;
}

.ktv-cursor-sw-resize {
  cursor: sw-resize;
}

.ktv-cursor-ew-resize {
  cursor: ew-resize;
}

.ktv-cursor-ns-resize {
  cursor: ns-resize;
}

.ktv-cursor-nesw-resize {
  cursor: nesw-resize;
}

.ktv-cursor-nwse-resize {
  cursor: nwse-resize;
}

.ktv-cursor-zoom-in {
  cursor: zoom-in;
}

.ktv-cursor-zoom-out {
  cursor: zoom-out;
}

// Scroll Behavior
.ktv-scroll-auto {
  scroll-behavior: auto;
}
.ktv-scroll-smooth {
  scroll-behavior: smooth;
}

// User Select
.ktv-select-none {
  user-select: none;
}
.ktv-select-text {
  user-select: text;
}
.ktv-select-all {
  user-select: all;
}
.ktv-select-auto {
  user-select: auto;
}
