// Column Gap
.ktv-column-gap-2 {
  column-gap: 2px;
}
.ktv-column-gap-4 {
  column-gap: 4px;
}
.ktv-column-gap-6 {
  column-gap: 6px;
}
.ktv-column-gap-8 {
  column-gap: 8px;
}
.ktv-column-gap-10 {
  column-gap: 10px;
}
.ktv-column-gap-12 {
  column-gap: 12px;
}
.ktv-column-gap-14 {
  column-gap: 14px;
}
.ktv-column-gap-16 {
  column-gap: 16px;
}
.ktv-column-gap-18 {
  column-gap: 18px;
}
.ktv-column-gap-20 {
  column-gap: 20px;
}
.ktv-column-gap-22 {
  column-gap: 22px;
}
.ktv-column-gap-24 {
  column-gap: 24px;
}
.ktv-column-gap-26 {
  column-gap: 26px;
}
.ktv-column-gap-28 {
  column-gap: 28px;
}
.ktv-column-gap-30 {
  column-gap: 30px;
}
.ktv-column-gap-32 {
  column-gap: 32px;
}
.ktv-column-gap-34 {
  column-gap: 34px;
}
.ktv-column-gap-36 {
  column-gap: 36px;
}
.ktv-column-gap-38 {
  column-gap: 38px;
}
.ktv-column-gap-40 {
  column-gap: 40px;
}
.ktv-column-gap-42 {
  column-gap: 42px;
}
.ktv-column-gap-44 {
  column-gap: 44px;
}
.ktv-column-gap-46 {
  column-gap: 46px;
}
.ktv-column-gap-48 {
  column-gap: 48px;
}
.ktv-column-gap-50 {
  column-gap: 50px;
}

// Row Gap
.ktv-row-gap-2 {
  row-gap: 2px;
}
.ktv-row-gap-4 {
  row-gap: 4px;
}
.ktv-row-gap-6 {
  row-gap: 6px;
}
.ktv-row-gap-8 {
  row-gap: 8px;
}
.ktv-row-gap-10 {
  row-gap: 10px;
}
.ktv-row-gap-12 {
  row-gap: 12px;
}
.ktv-row-gap-14 {
  row-gap: 14px;
}
.ktv-row-gap-16 {
  row-gap: 16px;
}
.ktv-row-gap-18 {
  row-gap: 18px;
}
.ktv-row-gap-20 {
  row-gap: 20px;
}
.ktv-row-gap-22 {
  row-gap: 22px;
}
.ktv-row-gap-24 {
  row-gap: 24px;
}
.ktv-row-gap-26 {
  row-gap: 26px;
}
.ktv-row-gap-28 {
  row-gap: 28px;
}
.ktv-row-gap-30 {
  row-gap: 30px;
}
.ktv-row-gap-32 {
  row-gap: 32px;
}
.ktv-row-gap-34 {
  row-gap: 34px;
}
.ktv-row-gap-36 {
  row-gap: 36px;
}
.ktv-row-gap-38 {
  row-gap: 38px;
}
.ktv-row-gap-40 {
  row-gap: 40px;
}
.ktv-row-gap-42 {
  row-gap: 42px;
}
.ktv-row-gap-44 {
  row-gap: 44px;
}
.ktv-row-gap-46 {
  row-gap: 46px;
}
.ktv-row-gap-48 {
  row-gap: 48px;
}
.ktv-row-gap-50 {
  row-gap: 50px;
}

// Gap
.ktv-gap-2 {
  gap: 2px;
}
.ktv-gap-4 {
  gap: 4px;
}
.ktv-gap-6 {
  gap: 6px;
}
.ktv-gap-8 {
  gap: 8px;
}
.ktv-gap-10 {
  gap: 10px;
}
.ktv-gap-12 {
  gap: 12px;
}
.ktv-gap-14 {
  gap: 14px;
}
.ktv-gap-16 {
  gap: 16px;
}
.ktv-gap-18 {
  gap: 18px;
}
.ktv-gap-20 {
  gap: 20px;
}
.ktv-gap-22 {
  gap: 22px;
}
.ktv-gap-24 {
  gap: 24px;
}
.ktv-gap-26 {
  gap: 26px;
}
.ktv-gap-28 {
  gap: 28px;
}
.ktv-gap-30 {
  gap: 30px;
}
.ktv-gap-32 {
  gap: 32px;
}
.ktv-gap-34 {
  gap: 34px;
}
.ktv-gap-36 {
  gap: 36px;
}
.ktv-gap-38 {
  gap: 38px;
}
.ktv-gap-40 {
  gap: 40px;
}
.ktv-gap-42 {
  gap: 42px;
}
.ktv-gap-44 {
  gap: 44px;
}
.ktv-gap-46 {
  gap: 46px;
}
.ktv-gap-48 {
  gap: 48px;
}
.ktv-gap-50 {
  gap: 50px;
}

// Margin Bottom
.ktv-mb-2 {
  margin-bottom: 2px;
}
.ktv-mb-4 {
  margin-bottom: 4px;
}
.ktv-mb-6 {
  margin-bottom: 6px;
}
.ktv-mb-8 {
  margin-bottom: 8px;
}
.ktv-mb-10 {
  margin-bottom: 10px;
}
.ktv-mb-12 {
  margin-bottom: 12px;
}
.ktv-mb-14 {
  margin-bottom: 14px;
}
.ktv-mb-16 {
  margin-bottom: 16px;
}
.ktv-mb-18 {
  margin-bottom: 18px;
}
.ktv-mb-20 {
  margin-bottom: 20px;
}
.ktv-mb-22 {
  margin-bottom: 22px;
}
.ktv-mb-24 {
  margin-bottom: 24px;
}
.ktv-mb-26 {
  margin-bottom: 26px;
}
.ktv-mb-28 {
  margin-bottom: 28px;
}
.ktv-mb-30 {
  margin-bottom: 30px;
}
.ktv-mb-32 {
  margin-bottom: 32px;
}
.ktv-mb-34 {
  margin-bottom: 34px;
}
.ktv-mb-36 {
  margin-bottom: 36px;
}
.ktv-mb-38 {
  margin-bottom: 38px;
}
.ktv-mb-40 {
  margin-bottom: 40px;
}
.ktv-mb-42 {
  margin-bottom: 42px;
}
.ktv-mb-46 {
  margin-bottom: 46px;
}
.ktv-mb-48 {
  margin-bottom: 48px;
}
.ktv-mb-50 {
  margin-bottom: 50px;
}

// Margin Top
.ktv-mt-2 {
  margin-top: 2px;
}
.ktv-mt-4 {
  margin-top: 4px;
}
.ktv-mt-6 {
  margin-top: 6px;
}
.ktv-mt-8 {
  margin-top: 8px;
}
.ktv-mt-10 {
  margin-top: 10px;
}
.ktv-mt-12 {
  margin-top: 12px;
}
.ktv-mt-14 {
  margin-top: 14px;
}
.ktv-mt-16 {
  margin-top: 16px;
}
.ktv-mt-18 {
  margin-top: 18px;
}
.ktv-mt-20 {
  margin-top: 20px;
}
.ktv-mt-22 {
  margin-top: 22px;
}
.ktv-mt-24 {
  margin-top: 24px;
}
.ktv-mt-26 {
  margin-top: 26px;
}
.ktv-mt-28 {
  margin-top: 28px;
}
.ktv-mt-30 {
  margin-top: 30px;
}
.ktv-mt-32 {
  margin-top: 32px;
}
.ktv-mt-34 {
  margin-top: 34px;
}
.ktv-mt-36 {
  margin-top: 36px;
}
.ktv-mt-38 {
  margin-top: 38px;
}
.ktv-mt-40 {
  margin-top: 40px;
}
.ktv-mt-42 {
  margin-top: 42px;
}
.ktv-mt-46 {
  margin-top: 46px;
}
.ktv-mt-48 {
  margin-top: 48px;
}
.ktv-mt-50 {
  margin-top: 50px;
}

// Margin Right
.ktv-mr-2 {
  margin-right: 2px;
}
.ktv-mr-4 {
  margin-right: 4px;
}
.ktv-mr-6 {
  margin-right: 6px;
}
.ktv-mr-8 {
  margin-right: 8px;
}
.ktv-mr-10 {
  margin-right: 10px;
}
.ktv-mr-12 {
  margin-right: 12px;
}
.ktv-mr-14 {
  margin-right: 14px;
}
.ktv-mr-16 {
  margin-right: 16px;
}
.ktv-mr-18 {
  margin-right: 18px;
}
.ktv-mr-20 {
  margin-right: 20px;
}
.ktv-mr-22 {
  margin-right: 22px;
}
.ktv-mr-24 {
  margin-right: 24px;
}
.ktv-mr-26 {
  margin-right: 26px;
}
.ktv-mr-28 {
  margin-right: 28px;
}
.ktv-mr-30 {
  margin-right: 30px;
}
.ktv-mr-32 {
  margin-right: 32px;
}
.ktv-mr-34 {
  margin-right: 34px;
}
.ktv-mr-36 {
  margin-right: 36px;
}
.ktv-mr-38 {
  margin-right: 38px;
}
.ktv-mr-40 {
  margin-right: 40px;
}
.ktv-mr-42 {
  margin-right: 42px;
}
.ktv-mr-46 {
  margin-right: 46px;
}
.ktv-mr-48 {
  margin-right: 48px;
}
.ktv-mr-50 {
  margin-right: 50px;
}

// Margin Left
.ktv-ml-2 {
  margin-left: 2px;
}
.ktv-ml-4 {
  margin-left: 4px;
}
.ktv-ml-6 {
  margin-left: 6px;
}
.ktv-ml-8 {
  margin-left: 8px;
}
.ktv-ml-10 {
  margin-left: 10px;
}
.ktv-ml-12 {
  margin-left: 12px;
}
.ktv-ml-14 {
  margin-left: 14px;
}
.ktv-ml-16 {
  margin-left: 16px;
}
.ktv-ml-18 {
  margin-left: 18px;
}
.ktv-ml-20 {
  margin-left: 20px;
}
.ktv-ml-22 {
  margin-left: 22px;
}
.ktv-ml-24 {
  margin-left: 24px;
}
.ktv-ml-26 {
  margin-left: 26px;
}
.ktv-ml-28 {
  margin-left: 28px;
}
.ktv-ml-30 {
  margin-left: 30px;
}
.ktv-ml-32 {
  margin-left: 32px;
}
.ktv-ml-34 {
  margin-left: 34px;
}
.ktv-ml-36 {
  margin-left: 36px;
}
.ktv-ml-38 {
  margin-left: 38px;
}
.ktv-ml-40 {
  margin-left: 40px;
}
.ktv-ml-42 {
  margin-left: 42px;
}
.ktv-ml-46 {
  margin-left: 46px;
}
.ktv-ml-48 {
  margin-left: 48px;
}
.ktv-ml-50 {
  margin-left: 50px;
}

// Margin
.ktv-m-2 {
  margin: 2px;
}
.ktv-m-4 {
  margin: 4px;
}
.ktv-m-6 {
  margin: 6px;
}
.ktv-m-8 {
  margin: 8px;
}
.ktv-m-10 {
  margin: 10px;
}
.ktv-m-12 {
  margin: 12px;
}
.ktv-m-14 {
  margin: 14px;
}
.ktv-m-16 {
  margin: 16px;
}
.ktv-m-18 {
  margin: 18px;
}
.ktv-m-20 {
  margin: 20px;
}
.ktv-m-22 {
  margin: 22px;
}
.ktv-m-24 {
  margin: 24px;
}
.ktv-m-26 {
  margin: 26px;
}
.ktv-m-28 {
  margin: 28px;
}
.ktv-m-30 {
  margin: 30px;
}
.ktv-m-32 {
  margin: 32px;
}
.ktv-m-34 {
  margin: 34px;
}
.ktv-m-36 {
  margin: 36px;
}
.ktv-m-38 {
  margin: 38px;
}
.ktv-m-40 {
  margin: 40px;
}
.ktv-m-42 {
  margin: 42px;
}
.ktv-m-46 {
  margin: 46px;
}
.ktv-m-48 {
  margin: 48px;
}
.ktv-m-50 {
  margin: 50px;
}

// Padding Bottom
.ktv-pb-2 {
  padding-bottom: 2px;
}
.ktv-pb-4 {
  padding-bottom: 4px;
}
.ktv-pb-6 {
  padding-bottom: 6px;
}
.ktv-pb-8 {
  padding-bottom: 8px;
}
.ktv-pb-10 {
  padding-bottom: 10px;
}
.ktv-pb-12 {
  padding-bottom: 12px;
}
.ktv-pb-14 {
  padding-bottom: 14px;
}
.ktv-pb-16 {
  padding-bottom: 16px;
}
.ktv-pb-18 {
  padding-bottom: 18px;
}
.ktv-pb-20 {
  padding-bottom: 20px;
}
.ktv-pb-22 {
  padding-bottom: 22px;
}
.ktv-pb-24 {
  padding-bottom: 24px;
}
.ktv-pb-26 {
  padding-bottom: 26px;
}
.ktv-pb-28 {
  padding-bottom: 28px;
}
.ktv-pb-30 {
  padding-bottom: 30px;
}
.ktv-pb-32 {
  padding-bottom: 32px;
}
.ktv-pb-34 {
  padding-bottom: 34px;
}
.ktv-pb-36 {
  padding-bottom: 36px;
}
.ktv-pb-38 {
  padding-bottom: 38px;
}
.ktv-pb-40 {
  padding-bottom: 40px;
}
.ktv-pb-42 {
  padding-bottom: 42px;
}
.ktv-pb-46 {
  padding-bottom: 46px;
}
.ktv-pb-48 {
  padding-bottom: 48px;
}
.ktv-pb-50 {
  padding-bottom: 50px;
}

// Padding Top
.ktv-pt-2 {
  padding-top: 2px;
}
.ktv-pt-4 {
  padding-top: 4px;
}
.ktv-pt-6 {
  padding-top: 6px;
}
.ktv-pt-8 {
  padding-top: 8px;
}
.ktv-pt-10 {
  padding-top: 10px;
}
.ktv-pt-12 {
  padding-top: 12px;
}
.ktv-pt-14 {
  padding-top: 14px;
}
.ktv-pt-16 {
  padding-top: 16px;
}
.ktv-pt-18 {
  padding-top: 18px;
}
.ktv-pt-20 {
  padding-top: 20px;
}
.ktv-pt-22 {
  padding-top: 22px;
}
.ktv-pt-24 {
  padding-top: 24px;
}
.ktv-pt-26 {
  padding-top: 26px;
}
.ktv-pt-28 {
  padding-top: 28px;
}
.ktv-pt-30 {
  padding-top: 30px;
}
.ktv-pt-32 {
  padding-top: 32px;
}
.ktv-pt-34 {
  padding-top: 34px;
}
.ktv-pt-36 {
  padding-top: 36px;
}
.ktv-pt-38 {
  padding-top: 38px;
}
.ktv-pt-40 {
  padding-top: 40px;
}
.ktv-pt-42 {
  padding-top: 42px;
}
.ktv-pt-46 {
  padding-top: 46px;
}
.ktv-pt-48 {
  padding-top: 48px;
}
.ktv-pt-50 {
  padding-top: 50px;
}

// Padding Right
.ktv-pr-2 {
  padding-right: 2px;
}
.ktv-pr-4 {
  padding-right: 4px;
}
.ktv-pr-6 {
  padding-right: 6px;
}
.ktv-pr-8 {
  padding-right: 8px;
}
.ktv-pr-10 {
  padding-right: 10px;
}
.ktv-pr-12 {
  padding-right: 12px;
}
.ktv-pr-14 {
  padding-right: 14px;
}
.ktv-pr-16 {
  padding-right: 16px;
}
.ktv-pr-18 {
  padding-right: 18px;
}
.ktv-pr-20 {
  padding-right: 20px;
}
.ktv-pr-22 {
  padding-right: 22px;
}
.ktv-pr-24 {
  padding-right: 24px;
}
.ktv-pr-26 {
  padding-right: 26px;
}
.ktv-pr-28 {
  padding-right: 28px;
}
.ktv-pr-30 {
  padding-right: 30px;
}
.ktv-pr-32 {
  padding-right: 32px;
}
.ktv-pr-34 {
  padding-right: 34px;
}
.ktv-pr-36 {
  padding-right: 36px;
}
.ktv-pr-38 {
  padding-right: 38px;
}
.ktv-pr-40 {
  padding-right: 40px;
}
.ktv-pr-42 {
  padding-right: 42px;
}
.ktv-pr-46 {
  padding-right: 46px;
}
.ktv-pr-48 {
  padding-right: 48px;
}
.ktv-pr-50 {
  padding-right: 50px;
}

// Padding Left
.ktv-pl-2 {
  padding-left: 2px;
}
.ktv-pl-4 {
  padding-left: 4px;
}
.ktv-pl-6 {
  padding-left: 6px;
}
.ktv-pl-8 {
  padding-left: 8px;
}
.ktv-pl-10 {
  padding-left: 10px;
}
.ktv-pl-12 {
  padding-left: 12px;
}
.ktv-pl-14 {
  padding-left: 14px;
}
.ktv-pl-16 {
  padding-left: 16px;
}
.ktv-pl-18 {
  padding-left: 18px;
}
.ktv-pl-20 {
  padding-left: 20px;
}
.ktv-pl-22 {
  padding-left: 22px;
}
.ktv-pl-24 {
  padding-left: 24px;
}
.ktv-pl-26 {
  padding-left: 26px;
}
.ktv-pl-28 {
  padding-left: 28px;
}
.ktv-pl-30 {
  padding-left: 30px;
}
.ktv-pl-32 {
  padding-left: 32px;
}
.ktv-pl-34 {
  padding-left: 34px;
}
.ktv-pl-36 {
  padding-left: 36px;
}
.ktv-pl-38 {
  padding-left: 38px;
}
.ktv-pl-40 {
  padding-left: 40px;
}
.ktv-pl-42 {
  padding-left: 42px;
}
.ktv-pl-46 {
  padding-left: 46px;
}
.ktv-pl-48 {
  padding-left: 48px;
}
.ktv-pl-50 {
  padding-left: 50px;
}

// Padding
.ktv-p-2 {
  padding: 2px;
}
.ktv-p-4 {
  padding: 4px;
}
.ktv-p-6 {
  padding: 6px;
}
.ktv-p-8 {
  padding: 8px;
}
.ktv-p-10 {
  padding: 10px;
}
.ktv-p-12 {
  padding: 12px;
}
.ktv-p-14 {
  padding: 14px;
}
.ktv-p-16 {
  padding: 16px;
}
.ktv-p-18 {
  padding: 18px;
}
.ktv-p-20 {
  padding: 20px;
}
.ktv-p-22 {
  padding: 22px;
}
.ktv-p-24 {
  padding: 24px;
}
.ktv-p-26 {
  padding: 26px;
}
.ktv-p-28 {
  padding: 28px;
}
.ktv-p-30 {
  padding: 30px;
}
.ktv-p-32 {
  padding: 32px;
}
.ktv-p-34 {
  padding: 34px;
}
.ktv-p-36 {
  padding: 36px;
}
.ktv-p-38 {
  padding: 38px;
}
.ktv-p-40 {
  padding: 40px;
}
.ktv-p-42 {
  padding: 42px;
}
.ktv-p-46 {
  padding: 46px;
}
.ktv-p-48 {
  padding: 48px;
}
.ktv-p-50 {
  padding: 50px;
}
