// Scale
.ktv-scale-0 {
  transform: scale(0);
}
.ktv-scale-x-0 {
  transform: scaleX(0);
}
.ktv-scale-y-0 {
  transform: scaleY(0);
}
.ktv-scale-50 {
  transform: scale(0.5);
}
.ktv-scale-x-50 {
  transform: scaleX(0.5);
}
.ktv-scale-y-50 {
  transform: scaleY(0.5);
}
.ktv-scale-75 {
  transform: scale(0.75);
}
.ktv-scale-x-75 {
  transform: scaleX(0.75);
}
.ktv-scale-y-75 {
  transform: scaleY(0.75);
}
.ktv-scale-90 {
  transform: scale(0.9);
}
.ktv-scale-x-90 {
  transform: scaleX(0.9);
}
.ktv-scale-y-90 {
  transform: scaleY(0.9);
}
.ktv-scale-95 {
  transform: scale(0.95);
}
.ktv-scale-x-95 {
  transform: scaleX(0.95);
}
.ktv-scale-y-95 {
  transform: scaleY(0.95);
}
.ktv-scale-100 {
  transform: scale(1);
}
.ktv-scale-x-100 {
  transform: scaleX(1);
}
.ktv-scale-y-100 {
  transform: scaleY(1);
}
.ktv-scale-105 {
  transform: scale(1.05);
}
.ktv-scale-x-105 {
  transform: scaleX(1.05);
}
.ktv-scale-y-105 {
  transform: scaleY(1.05);
}
.ktv-scale-110 {
  transform: scale(1.1);
}
.ktv-scale-x-110 {
  transform: scaleX(1.1);
}
.ktv-scale-y-110 {
  transform: scaleY(1.1);
}
.ktv-scale-125 {
  transform: scale(1.25);
}
.ktv-scale-x-125 {
  transform: scaleX(1.25);
}
.ktv-scale-y-125 {
  transform: scaleY(1.25);
}
.ktv-scale-150 {
  transform: scale(1.5);
}
.ktv-scale-x-150 {
  transform: scaleX(1.5);
}
.ktv-scale-y-150 {
  transform: scaleY(1.5);
}

// Rotate
.ktv-rotate-0 {
  transform: rotate(0deg);
}
.ktv-rotate-1 {
  transform: rotate(1deg);
}
.ktv-rotate-2 {
  transform: rotate(2deg);
}
.ktv-rotate-3 {
  transform: rotate(3deg);
}
.ktv-rotate-6 {
  transform: rotate(6deg);
}
.ktv-rotate-12 {
  transform: rotate(12deg);
}
.ktv-rotate-45 {
  transform: rotate(45deg);
}
.ktv-rotate-90 {
  transform: rotate(90deg);
}
.ktv-rotate-180 {
  transform: rotate(180deg);
}

// Skew
.ktv-skew-x-0 {
  transform: skewX(0deg);
}
.ktv-skew-y-0 {
  transform: skewY(0deg);
}
.ktv-skew-x-1 {
  transform: skewX(1deg);
}
.ktv-skew-y-1 {
  transform: skewY(1deg);
}
.ktv-skew-x-2 {
  transform: skewX(2deg);
}
.ktv-skew-y-2 {
  transform: skewY(2deg);
}
.ktv-skew-x-3 {
  transform: skewX(3deg);
}
.ktv-skew-y-3 {
  transform: skewY(3deg);
}
.ktv-skew-x-6 {
  transform: skewX(6deg);
}
.ktv-skew-y-6 {
  transform: skewY(6deg);
}
.ktv-skew-x-12 {
  transform: skewX(12deg);
}
.ktv-skew-y-12 {
  transform: skewY(12deg);
}

// Origin
.ktv-origin-center {
  transform-origin: center;
}
.ktv-origin-top {
  transform-origin: top;
}
.ktv-origin-top-right {
  transform-origin: top right;
}
.ktv-origin-right {
  transform-origin: right;
}
.ktv-origin-bottom-right {
  transform-origin: bottom right;
}
.ktv-origin-bottom {
  transform-origin: bottom;
}
.ktv-origin-bottom-left {
  transform-origin: bottom left;
}
.ktv-origin-left {
  transform-origin: left;
}
.ktv-origin-top-left {
  transform-origin: top left;
}
