// Font Size
.ktv-fs-10 {
  font-size: 10px;
}
.ktv-fs-12 {
  font-size: 12px;
}
.ktv-fs-14 {
  font-size: 14px;
}
.ktv-fs-16 {
  font-size: 16px;
}
.ktv-fs-18 {
  font-size: 18px;
}
.ktv-fs-20 {
  font-size: 20px;
}
.ktv-fs-22 {
  font-size: 22px;
}
.ktv-fs-24 {
  font-size: 24px;
}
.ktv-fs-26 {
  font-size: 26px;
}
.ktv-fs-28 {
  font-size: 28px;
}
.ktv-fs-30 {
  font-size: 30px;
}
.ktv-fs-32 {
  font-size: 32px;
}
.ktv-fs-34 {
  font-size: 34px;
}
.ktv-fs-36 {
  font-size: 36px;
}
.ktv-fs-38 {
  font-size: 38px;
}
.ktv-fs-40 {
  font-size: 40px;
}
.ktv-fs-42 {
  font-size: 42px;
}
.ktv-fs-44 {
  font-size: 44px;
}
.ktv-fs-46 {
  font-size: 46px;
}
.ktv-fs-48 {
  font-size: 48px;
}
.ktv-fs-50 {
  font-size: 50px;
}

// Font Weight
.ktv-fw-100 {
  font-weight: 100;
}
.ktv-fw-200 {
  font-weight: 200;
}
.ktv-fw-300 {
  font-weight: 300;
}
.ktv-fw-400 {
  font-weight: 400;
}
.ktv-fw-500 {
  font-weight: 500;
}
.ktv-fw-600 {
  font-weight: 600;
}
.ktv-fw-700 {
  font-weight: 700;
}
.ktv-fw-800 {
  font-weight: 800;
}
.ktv-fw-900 {
  font-weight: 900;
}

// Italic
.ktv-font-italic {
  font-style: italic;
}
.ktv-font-not-italic {
  font-style: normal;
}

// Variant Numeric
.ktv-variant-numeric-normal-nums {
  font-variant-numeric: normal;
}
.ktv-variant-numeric-ordinal {
  font-variant-numeric: ordinal;
}
.ktv-variant-numeric-slashed-zero {
  font-variant-numeric: slashed-zero;
}
.ktv-variant-numeric-lining-nums {
  font-variant-numeric: lining-nums;
}
.ktv-variant-numeric-oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
}
.ktv-variant-numeric-proportional-nums {
  font-variant-numeric: proportional-nums;
}
.ktv-variant-numeric-tabular-nums {
  font-variant-numeric: tabular-nums;
}
.ktv-variant-numeric-diagonal-fractions {
  font-variant-numeric: diagonal-fractions;
}
.ktv-variant-numeric-stacked-fractions {
  font-variant-numeric: stacked-fractions;
}

// Letter Spacing
.ktv-lt-2 {
  letter-spacing: 2px;
}
.ktv-lt-4 {
  letter-spacing: 4px;
}
.ktv-lt-6 {
  letter-spacing: 6px;
}
.ktv-lt-8 {
  letter-spacing: 8px;
}
.ktv-lt-10 {
  letter-spacing: 10px;
}
.ktv-lt-12 {
  letter-spacing: 12px;
}
.ktv-lt-14 {
  letter-spacing: 14px;
}
.ktv-lt-16 {
  letter-spacing: 16px;
}
.ktv-lt-18 {
  letter-spacing: 18px;
}
.ktv-lt-20 {
  letter-spacing: 20px;
}
.ktv-lt-22 {
  letter-spacing: 22px;
}
.ktv-lt-24 {
  letter-spacing: 24px;
}
.ktv-lt-26 {
  letter-spacing: 26px;
}
.ktv-lt-28 {
  letter-spacing: 28px;
}
.ktv-lt-30 {
  letter-spacing: 30px;
}
.ktv-lt-32 {
  letter-spacing: 32px;
}
.ktv-lt-34 {
  letter-spacing: 34px;
}
.ktv-lt-36 {
  letter-spacing: 36px;
}
.ktv-lt-38 {
  letter-spacing: 38px;
}
.ktv-lt-40 {
  letter-spacing: 40px;
}
.ktv-lt-42 {
  letter-spacing: 42px;
}
.ktv-lt-44 {
  letter-spacing: 44px;
}
.ktv-lt-46 {
  letter-spacing: 46px;
}
.ktv-lt-48 {
  letter-spacing: 48px;
}
.ktv-lt-50 {
  letter-spacing: 50px;
}

// List Style Position
.ktv-list-position-inside {
  list-style-position: inside;
}
.ktv-list-position-outside {
  list-style-position: outside;
}

// List Style Type
.ktv-list-type-none {
  list-style-type: none;
}
.ktv-list-type-disc {
  list-style-type: disc;
}
.ktv-list-type-decimal {
  list-style-type: decimal;
}

// Text Align
.ktv-text-left {
  text-align: left;
}
.ktv-text-center {
  text-align: center;
}
.ktv-text-right {
  text-align: right;
}
.ktv-text-justify {
  text-align: justify;
}
.ktv-text-start {
  text-align: start;
}
.ktv-text-end {
  text-align: end;
}

// Decoration
.ktv-text-decoration-underline {
  text-decoration-line: underline;
}
.ktv-text-decoration-overline {
  text-decoration-line: overline;
}
.ktv-text-decoration-line-through {
  text-decoration-line: line-through;
}
.ktv-text-decoration-no-underline {
  text-decoration-line: none;
}

// Decoration Style
.ktv-text-decoration-style-solid {
  text-decoration-style: solid;
}
.ktv-text-decoration-style-double {
  text-decoration-style: double;
}
.ktv-text-decoration-style-dotted {
  text-decoration-style: dotted;
}
.ktv-text-decoration-style-dashed {
  text-decoration-style: dashed;
}
.ktv-text-decoration-style-wavy {
  text-decoration-style: wavy;
}

// Underline Offset
.ktv-underline-offset-auto {
  text-underline-offset: auto;
}
.ktv-underline-offset-0 {
  text-underline-offset: 0px;
}
.ktv-underline-offset-1 {
  text-underline-offset: 1px;
}
.ktv-underline-offset-2 {
  text-underline-offset: 2px;
}
.ktv-underline-offset-4 {
  text-underline-offset: 4px;
}
.ktv-underline-offset-8 {
  text-underline-offset: 8px;
}

// Text Transform
.ktv-text-transform-uppercase {
  text-transform: uppercase;
}
.ktv-text-transform-lowercase {
  text-transform: lowercase;
}
.ktv-text-transform-capitalize {
  text-transform: capitalize;
}
.ktv-text-transform-normal-case {
  text-transform: none;
}

// Vertical ALign
.ktv-vertical-align-baseline {
  vertical-align: baseline;
}
.ktv-vertical-align-top {
  vertical-align: top;
}
.ktv-vertical-align-middle {
  vertical-align: middle;
}
.ktv-vertical-align-bottom {
  vertical-align: bottom;
}
.ktv-vertical-align-text-top {
  vertical-align: text-top;
}
.ktv-vertical-align-text-bottom {
  vertical-align: text-bottom;
}
.ktv-vertical-align-sub {
  vertical-align: sub;
}
.ktv-vertical-align-super {
  vertical-align: super;
}
