$white: #fff;

$green-120: #0A753E;
$green-110: #099C50;
$green-100: #2BBE72;
$green-90: #4AC987;
$green-80: #68D49C;
$green-70: #87DFB1;
$green-60: #A6E9C6;
$green-50: #C4F4DB;
$green-40: #E3FFF0;

$red-120: #A21E1F;
$red-110: #CA2E2F;
$red-100: #DB4D4E;
$red-90: #E1696A;
$red-80: #E78586;
$red-70: #EDA2A2;
$red-60: #F3BEBE;
$red-50: #F9DADA;
$red-40: #FFF6F6;

$black-100: #121314;
$black-90: #343536;
$black-80: #4D4E4F;
$black-60: #6F7070;
$black-50: #919192;
$black-40: #B2B2B3;
$black-30: #D4D4D4;
$black-20: #F5F5F5;

$blue-120: #06609A;
$blue-110: #1286D0;
$blue-100: #54A7DC;
$blue-90: #6DB5E2;
$blue-80: #87C2E8;
$blue-70: #A0D0EE;
$blue-60: #B9DDF3;
$blue-50: #D3EBF9;
$blue-40: #ECF8FF;

$brown-120: #A26B1D;
$brown-110: #D29136;
$brown-100: #F0B35E;
$brown-90: #F3BF78;
$brown-80: #F5CB91;
$brown-70: #F8D8AB;
$brown-60: #FAE4C5;
$brown-50: #FDF0DE;
$brown-40: #FFFCF8;