$color-white: #fff;
$color-black-100: #121314;
$color-black-90: #2a2b2c;
$color-black-80: #3c3d3e;
$color-black-70: #595a5a;
$color-black-60: #676768;
$color-black-50: #888989;
$color-black-40: #909191;
$color-black-30: #b8b8b9;
$color-black-20: #d0d0d0;
$color-black-10: #e7e7e7;
$color-black-05: #f5f7f9;
$color-black-01: #f5f5f5;
$color-black-hover: #464646;
$color-red: #d02630;
$color-light-red: #ffb1b1;
$color-light-green: #DEF6CC;
$color-green: #2bbe72;
